# Introduction to Python for Open Source Geocomputation

![python](pics/python-logo-master-v3-TM.png)


* Instructor: Dr. Wei Kang
* Class Location and Time: ENV 336, Mon & Wed 12:30 pm - 1:50 pm

Content:

* Lists - continued
* Tuples

# Standard Data Types in Python - lists

| Category of Data type | Data type            | Example    |
| -------------- | -------------------- | ---------- |
| Numeric, scalar         | Integer| 1       |
|        | Floats   | 1.2   |
|          | Complex    | 1.5+0.5j  |
|         | Booleans   | True    |
| Container    | strings   | "Hello World"   |
|     | List   | [1, "Hello World"]  |
|     | Tuple   | (1, "Hello World")  |
|     | Dictionary   | {1: "Hello World", 2: 100} |

## `in` operator with lists

similar to the behavior when working with strings

* Check whether an item/element occurs in a given list
* Returns a boolean value

### Group Exercise

Write python code to check whether `3` occurs in the list `[1,2,3]`

> When you are done, raise your hand!

In [1]:
3 in [1,2,3]

True

In [2]:
3 in [1,2,3]

True

In [3]:
3.0 in [1,2,3]

True

### Comparison operators across integers and floats

Numbers of built-in numeric types (Numeric Types â€” **int, float, complex**) and of the standard library types fractions.Fraction and decimal.Decimal can be compared **within and across their types***, with the restriction that complex numbers do not support order comparison. Within the limits of the types involved, they compare mathematically (algorithmically) correct without loss of precision.

Compare numerical values rather than focusing on data types

reference: <https://docs.python.org/3/reference/expressions.html#value-comparisons>

In [4]:
3 == 3.0

True

In [5]:
3.0 in [1,2,3]

True

In [6]:
3 in [1,2,3.0]

True

In [7]:
3 in [1,2,"3"]

False

Two ways to check whether an object is of the specified type:

* `type(2) == int`
* `isinstance(2, int) `

In [8]:
type(2) == int

True

In [9]:
isinstance(2, int)

True

## Lists are Nestable

* A list can be an element/item in another list

In [10]:
list_a = [1, "happy", 1+9j, 2.3, True]
list_b = [list_a, [1,2], True]
list_b

[[1, 'happy', (1+9j), 2.3, True], [1, 2], True]

Indexing and slicing nested lists:

In [11]:
list_b[0] #the first element is a list

[1, 'happy', (1+9j), 2.3, True]

In [12]:
list_intermediate = list_b[0] 
list_intermediate[1]

'happy'

In [13]:
list_b[0][1]

'happy'

Since the first element is a list, we can use indexing to get the second element of this list

In [14]:
list_b[0][1]

'happy'

Since the second element of the first element of `list_b` is a string which is ordered, we can use slicing to get the second and the third elements of the string:

In [15]:
list_b

[[1, 'happy', (1+9j), 2.3, True], [1, 2], True]

In [16]:
list_b[0][1][2:4]

'pp'

In [17]:
list_b

[[1, 'happy', (1+9j), 2.3, True], [1, 2], True]

In [18]:
list_b[2]

True

In [19]:
list_b[2:2]

[]

In [20]:
list_b[2:5]

[True]

### Robust start and end indices with python slicing `[start:end]`

* **robust end index**: The above slicing on list (`list_b[2:4]`) works even though the end index slicing is greater than the maximal sequence index. This is because python scling has **robust end index**. The slice just takes all elements up to the maximal element. 
* If the start index is out of bounds as well, it returns the empty slice. So `list_b[4:]` will return an empty list.

In [21]:
list_b

[[1, 'happy', (1+9j), 2.3, True], [1, 2], True]

In [22]:
list_b[4:]

[]

In [23]:
a = list_b[0]
b = a[1]
b[2:4]

'pp'

### Group Exercise (nested list)

1. Write python code to obtain the second element of the nested list `list_b = [[1, 'happy', (1+9j), 2.3, True], [1, 2], True]`
2. Write python code to obtain the second element of the second element (a list) of the nested list `list_b = [[1, 'happy', (1+9j), 2.3, True], [1, 2], True]`:


> When you are done, raise your hand!

In [24]:
list_b = [[1, 'happy', (1+9j), 2.3, True], [1, 2], True]

In [25]:
list_b[1]

[1, 2]

In [26]:
list_b[1][1]

2

### `in` operator with nested lists

* check whether an object is an element of a given list

In [27]:
list_a = [3, [1, 'happy', (1+9j), 2.3, True], [1, 2], False]

In [28]:
1 in list_a

False

In [29]:
list_a[1][1][0]

'h'

In [30]:
list_b = [[1, 'happy', (1+9j), 2.3, True], [1, 2], False]

In [31]:
'happy' in list_b

False

In [32]:
'happy' in list_b[0]

True

In [33]:
list_b

[[1, 'happy', (1+9j), 2.3, True], [1, 2], False]

In [34]:
[1, 'happy', (1+9j), 2.3, True] in list_b

True

In [35]:
'happy' in list_b[0]

True

In [36]:
list_b[0]

[1, 'happy', (1+9j), 2.3, True]

## Lists are mutable

Unlike strings, however, lists are mutable - item assignment is feasible

In [37]:
list_a = [1, "happy", True]

In [38]:
list_a[1] = 2

In [39]:
list_a

[1, 2, True]

In [40]:
list_a[2] = 3

In [41]:
list_a

[1, 2, 3]

### List item assignment with slicing (assign values to a slice of list)

In [42]:
list_a = [1, "happy", True]

In [43]:
list_a[1:] = [2,3]
list_a

[1, 2, 3]

In [44]:
list_a[1:] = [1]
list_a

[1, 1]

In [45]:
list_b = [1,2,3,4,5,6,1,2,46]
list_b

[1, 2, 3, 4, 5, 6, 1, 2, 46]

In [46]:
list_b[1:] = [100, 101]
list_b

[1, 100, 101]

## List Operations

* Concatenation with `+` (similar to strings)
* Repetition with `*` (similar to strings)

In [47]:
"happy" + "happy"

'happyhappy'

In [48]:
list_a = [1, "happy", True]
list_a

[1, 'happy', True]

In [49]:
list_a + list_a

[1, 'happy', True, 1, 'happy', True]

In [50]:
[1, 2, 3] + [2, 3, 4]

[1, 2, 3, 2, 3, 4]

In [51]:
"happy" * 3

'happyhappyhappy'

In [52]:
list_a

[1, 'happy', True]

In [53]:
list_a * 3

[1, 'happy', True, 1, 'happy', True, 1, 'happy', True]

In [54]:
max(list_a)

TypeError: '>' not supported between instances of 'str' and 'int'

In [55]:
sum(list_a)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose ASCII value is the highest and the lowest when **min( )** is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [56]:
mlist = ['bzaa','ds','nc','az','z','klm']

In [57]:
max(mlist)

'z'

In [58]:
'bzaa' > 'z'

False

In [59]:
min(mlist)

'az'

In [60]:
nlist = ['1','94','93','1000']

In [61]:
max(nlist)

'94'

In [62]:
min(nlist)

'1'

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

### Iteration with `for` statements on a list

A Python `for` statement iterates over the items of a sequence. Say you have a list called `fruits` containing a sequence of strings with fruit names; you can write a statement like

```Python
for fruit in fruits:
```
to do something with each item in the list.

In [63]:
fruits = ['apple', 'banana', 'orange', 'cherry', 'mandarin']
for fruit in fruits:
    print(fruit)

apple
banana
orange
cherry
mandarin

In [64]:
fruits = ['apple', 'banana', 'orange', 'cherry', 'mandarin']

for fruit in fruits:
    print("Eat your", fruit, "everday")
    #print function can accept many values separated by comma (spaces are inserted between values)

Eat your apple everday
Eat your banana everday
Eat your orange everday
Eat your cherry everday
Eat your mandarin everday

We can use `for` loop to update each element according to some rule in a list. 

In the following example, we try to multiply each element in a numerical list by 2:

In [65]:
list_numbers = [1,2,3,4]
list_numbers

[1, 2, 3, 4]

In [66]:
list_numbers * 2

[1, 2, 3, 4, 1, 2, 3, 4]

Using `*` directly between the list and number `2` does not work as this will do the repetition of the list.

We can `for` loop to update each element according to some rule (multiple it by `2`) in a list:

In [67]:
list_numbers = [1,2,3,4]
for i in range(len(list_numbers)):
    list_numbers[i] = list_numbers[i] * 2 #assign the calculated number to each item of the list
list_numbers

[2, 4, 6, 8]

### _Translate that!_

* What is a list in python? What are its properties?

## List Methods 

* `list.append()`: adds a new element to the end of a list
* `list.extend()`: takes a list as an argument and appends all of the elements
* `list.sort()`: arranges the elements of the list from low to high
* `list.reverse()`: reverse the list
* `list.remove()`: remove the given element in a list
* `list.pop()`: Remove and return item at index (default last).

Most list methods are void; they modify the list and return `NoneType`
They are also called **in-place** methods: 

* modify the original list object
* don't return anything, but rather work on the object's data.

In [68]:
y=[]

In [69]:
y.append(10)

In [70]:
y

[10]

In [71]:
z = y.append(10)

In [72]:
type(z)

NoneType

In [73]:
y

[10, 10]

In [74]:
x=[1,2,3]

In [75]:
x.append(y)

In [76]:
x

[1, 2, 3, [10, 10]]

In [77]:
x.extend(y)

In [78]:
x

[1, 2, 3, [10, 10], 10, 10]

In [79]:
x.extend(10)

TypeError: 'int' object is not iterable

In [80]:
x.append(10)

In [81]:
x

[1, 2, 3, [10, 10], 10, 10, 10]

In [82]:
y

[10, 10]

In [83]:
x + y

[1, 2, 3, [10, 10], 10, 10, 10, 10, 10]

Note the subtle difference between the two methods. Sometimes you will want to
use append, and other times extend is what you need.

In [84]:
x=[ 7, 1, 3,12]

In [85]:
x.sort()

In [86]:
x

[1, 3, 7, 12]

In [87]:
x.reverse()

In [88]:
x

[12, 7, 3, 1]

In [89]:
x = [12, 7, 3, 1]

In [90]:
x.remove(7)
x

[12, 3, 1]

### _Translate that!_

* What is an in-place method in python?

### Lists as Stacks with `list.pop()`

A stack is a linear data structure that follows the principle of **Last In First Out (LIFO)**.

In [91]:
x = [12, 7, 3, 1]

In [92]:
x.pop()

1

In [93]:
x

[12, 7, 3]

In [94]:
x.pop()

3

In [95]:
x

[12, 7]

### Lists as Queues with `list.pop(0)`

A queue is a linear data structure that follows the principle of First In First Out (FIFO) order

In [96]:
x = [12, 7, 3, 1]

In [97]:
x.pop(0)

12

In [98]:
x

[7, 3, 1]

In [99]:
x.pop(0)

7

In [100]:
x

[3, 1]

## Lists and Strings

* spliting a string into a list of substrings `str.split()`
* combine a list of substrings into a string `delimiter.join(list)`

In [101]:
s = 'spam-spam-spam'

In [102]:
s.split("-")

['spam', 'spam', 'spam']

In [103]:
list_s = s.split("-")
list_s

['spam', 'spam', 'spam']

In [104]:
"-".join(list_s)

'spam-spam-spam'

In [105]:
" ".join(list_s)

'spam spam spam'

In [106]:
"--".join(list_s)

'spam--spam--spam'

In [107]:
";;;;;".join(list_s)

'spam;;;;;spam;;;;;spam'

## Further readings

* [tutorial on Lists](https://realpython.com/python-lists-tuples/)

# Standard Data Types in Python - Tuples

| Category of Data type | Data type            | Example    |
| -------------- | -------------------- | ---------- |
| Numeric, scalar         | Integer| 1       |
|        | Floats   | 1.2   |
|          | Complex    | 1.5+0.5j  |
|         | Booleans   | True    |
| Container    | strings   | "Hello World"   |
|     | List   | [1, "Hello World"]  |
|     | Tuple   | (1, "Hello World")  |
|     | Set   | {1, "Hello World"}   |
|     | Dictionary   | {1: "Hello World", 2: 100} |

## Tuples in python

* Similar to lists
    * Ordered sequence
    * each item/element can be of any type
    * Exception: immutable

## Creating Tuples

* assignment statement: `t = (1,2,"a")` 
    * Having the comma(s) is very important
* function `tuple()`

In [108]:
t = (1,2,3,'a','b','stella')

In [109]:
type(t)

tuple

In [110]:
t

(1, 2, 3, 'a', 'b', 'stella')

In [111]:
s=1,2,3,'a','b','stella'
s

(1, 2, 3, 'a', 'b', 'stella')

In [112]:
type(s)

tuple

In [113]:
x=1,
x

(1,)

In [114]:
type(x)

tuple

In [115]:
y = 1

In [116]:
type(y)

int

In [117]:
t2 = ('a')
t2

'a'

In [118]:
type(t2)

str

In [119]:
t3 = ('a', )
t3

('a',)

In [120]:
type(t3)

tuple

Creating a tuple using the built-in function `tuple()`.

In [121]:
tuple()

()

In [122]:
tuple("python")

('p', 'y', 't', 'h', 'o', 'n')

In [123]:
tuple([1,2,3])

(1, 2, 3)

### indexing and slicing tuples

* similar to lists and strings

In [124]:
s=1,2,3,'a','b','stella'
s

(1, 2, 3, 'a', 'b', 'stella')

In [125]:
s[0]

1

In [126]:
s[1:-1]

(2, 3, 'a', 'b')

### Two Tuple Methods

* `tuple.count()`: Return number of occurrences of value.
* `tuple.index()`: Return first index of value.

In [127]:
mytupe = 'a', 'b', 'c'
mytupe

('a', 'b', 'c')

In [128]:
mytupe.count('a')

1

In [129]:
mytupe.index('b')

1

In [130]:
mytupe.index('f')

ValueError: tuple.index(x): x not in tuple

## Tuple Operations

* Concatenation with `+` (similar to strings)
* Repetition with `*` (similar to strings)

In [131]:
mytupe = 'a', 'b', 'c'
histupe = 1,2,3

In [132]:
mytupe + histupe

('a', 'b', 'c', 1, 2, 3)

In [133]:
histupe * 4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [134]:
mytupe * 4

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

### Tuples are immutable!

In [135]:
mytupe

('a', 'b', 'c')

In [136]:
mytupe[0] = "c"

TypeError: 'tuple' object does not support item assignment

In [137]:
("c", ) + mytupe[1:]

('c', 'b', 'c')

In [138]:
mytupe = ("c", ) + mytupe[1:]
mytupe

('c', 'b', 'c')

In [139]:
list_mytupe = list(mytupe)
list_mytupe

['c', 'b', 'c']

In [140]:
list_mytupe[0] = "d"
list_mytupe

['d', 'b', 'c']

In [141]:
tuple(list_mytupe)

('d', 'b', 'c')

### Tuples are Nestable

* similar to lists
* Note that while the tuple is immutable, if it contains any elements that are mutable (e.g., lists) we can change the elements of the mutable elements of the tuple.

In [142]:
l=(1,2,3)
t=(l,'a','melissa')
t

((1, 2, 3), 'a', 'melissa')

In [143]:
t[0][0]=100
t

TypeError: 'tuple' object does not support item assignment

In [144]:
l=[1,2,3]
t=(l,'a','melissa')
t

([1, 2, 3], 'a', 'melissa')

In [145]:
t[0][0]=100
t

([100, 2, 3], 'a', 'melissa')

In [146]:
l=(1,2,3)
t=(l,'a','melissa')
t

((1, 2, 3), 'a', 'melissa')

In [147]:
t[0]='d'

TypeError: 'tuple' object does not support item assignment

In [148]:
t[1]='d'

TypeError: 'tuple' object does not support item assignment

### Converting Between Lists and Tuples

* convertinng from list to tuple: `tuple()`
* convertinng from tuple to list: `list()`

In [149]:
list_a = [1,2,3]

In [150]:
tuple(list_a)

(1, 2, 3)

In [151]:
list(tuple(list_a))

[1, 2, 3]

### Group exercise

Write code to change the value of the first item in the tuple `mytupe = ('a', 'b', 'c')` to  `'d'`

> When you are done, raise your hand!

### _Translate that!_

* What is a tuple in python?
* What are the differences between a list and a tuple in python?

## Further readings

* [Lists and Tuples in Python](https://realpython.com/python-lists-tuples/)

## Assginments

* HW4
* Mid-term exam