# Introduction to Python for Open Source Geocomputation

![python](pics/python-logo-master-v3-TM.png)

* Instructor: Dr. Wei Kang
* Class Location and Time: ENV 336, Mon & Wed 12:30 pm - 1:50 pm

Content:

* Sets
* Dictionaries
* Review of Container data types

# Standard Data Types in Python - Sets

| Category of Data type | Data type            | Example    |
| -------------- | -------------------- | ---------- |
| Numeric, scalar         | Integer| 1       |
|        | Floats   | 1.2   |
|          | Complex    | 1.5+0.5j  |
|         | Booleans   | True    |
| Container    | strings   | "Hello World"   |
|     | List   | [1, "Hello World"]  |
|     | Tuple   | (1, "Hello World")  |
|     | Set   | {1, "Hello World"}   |
|     | Dictionary   | {1: "Hello World", 2: 100} |

## Sets in python

`{1, "Hello World"}`

* A collection of **unordered** objects
    * indexing and slicing will not work  
* Set elements are **unique**. Duplicate elements are not allowed.
    * when you create a set, python will remove the "redundant"/"repeated" elements automatically
* Supports operations and concepts from set theory
* A set itself may be modified (mutable), but the elements contained in the set must be of an immutable type.

### Questions (randomly selecting a student for each question):

* Can list be an element of a set?
* Can string be an element of a set?
* Can tuple be an element of a set?

In [1]:
{[1,2]}

TypeError: unhashable type: 'list'

In [2]:
{(1,2)}

{(1, 2)}

In [3]:
{"s"}

{'s'}

### Creating a set

* Assignment operation: `set_a = {1,2}`
    * enclosed by curly brackets 
* Function `set()`

In [4]:
set_a = {1,2}
set_a

{1, 2}

In [5]:
type(set_a)

set

In [6]:
set_a = {1,2,1,3,4,1}
set_a

{1, 2, 3, 4}

In [7]:
s = "python"

In [8]:
set(s)

{'h', 'n', 'o', 'p', 't', 'y'}

In [9]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [10]:
tuple(s)

('p', 'y', 't', 'h', 'o', 'n')

In [11]:
list_a = ['I', 'like', 'python']

In [12]:
set(list_a)

{'I', 'like', 'python'}

In [13]:
list_b = list_a * 3
list_b

['I', 'like', 'python', 'I', 'like', 'python', 'I', 'like', 'python']

In [14]:
set(list_b)

{'I', 'like', 'python'}

In [15]:
a = 1,2,3,4
a

(1, 2, 3, 4)

In [16]:
type(a)

tuple

In [17]:
set(a)

{1, 2, 3, 4}

In [18]:
set(1)

TypeError: 'int' object is not iterable

In [19]:
set([1])

{1}

## Grow a set with **in-place** methods

* `set.add()`:
    * add an item to a set
    * similar to `list.append()`
* `set.update()`: 
    * Update a set with the union of itself and others.
    * the input argument should be an iterable (container data type)
    * similar to `list.extend()`

In [20]:
set_a = {1,2,"python"}

In [21]:
set_a.add(10)

In [22]:
set_a

{1, 10, 2, 'python'}

In [23]:
set_a.add(10)

In [24]:
set_a

{1, 10, 2, 'python'}

In [25]:
set_a = {1, 10, 2, 'python'}
set_a

{1, 10, 2, 'python'}

In [26]:
set_a.add((11, 12))

In [27]:
set_a

{(11, 12), 1, 10, 2, 'python'}

In [28]:
set_a = {1, 10, 2, 'python'}
set_a

{1, 10, 2, 'python'}

In [29]:
set_a.update((11, 12))

In [30]:
set_a

{1, 10, 11, 12, 2, 'python'}

In [31]:
set_a.update(1)

TypeError: 'int' object is not iterable

In [32]:
set_a

{1, 10, 11, 12, 2, 'python'}

In [33]:
set_a.add({11, 12})

TypeError: unhashable type: 'set'

In [34]:
set_a = {1, 10, 2, 'python'}

In [35]:
set_a.update([11, 12])

In [36]:
set_a

{1, 10, 11, 12, 2, 'python'}

In [37]:
set_a.update(100)

TypeError: 'int' object is not iterable

In [38]:
set_a

{1, 10, 11, 12, 2, 'python'}

## Shrink a set with **in-place** methods

* `set.remove()`:
    * reomove an item to a set
    * similar to `list.remove()`
* `set.pop()`: 
    * removes and returns an arbitrary element from a set.

In [39]:
set_a = {1, 10, 11, 12, 2, 'python'}

In [40]:
set_a.remove(1)

In [41]:
set_a

{10, 11, 12, 2, 'python'}

In [42]:
set_a.pop()

2

In [43]:
set_a.pop()

'python'

In [44]:
set_a

{10, 11, 12}

In [45]:
list_a = [12,34,523,454,356]

In [46]:
new_list = []
for i in range(len(list_a)):
    
    new_list.append(list_a.pop())
new_list

[356, 454, 523, 34, 12]

In [47]:
new_list

[356, 454, 523, 34, 12]

In [48]:
set_a

{10, 11, 12}

In [49]:
len(set_a)

3

### Mathematical operations with Sets - set theory

Relationship between two or more sets

![Python-Set-Operatioons](pics/Python-Set-Operatioons.png)

Check whether a set is a subset of another set

<img src="pics/subset.png" width="300">

In [50]:
group1 = set([1, 2, 3, 4, 5])
group2 = set([2,6,7])
group3 = {1,2,3}

In [51]:
group2.issubset(group1)

False

In [52]:
group3.issubset(group1)

True

In [53]:
group2.issuperset(group1)

False

In [54]:
group1 = set([1, 2, 3, 4, 5])
group2 = set([2,6,7])
group3 = {1,2,3}

In [55]:
group1.issubset(group3)

False

### Operations on two or more sets

![Python-Set-Operatioons](pics/Python-Set-Operatioons.png)

In [56]:
group1 = set([1, 2, 3, 4, 5])
group2 = set([2,6,7])
group3 = {1,2,3}

In [57]:
group1.union(group2)

{1, 2, 3, 4, 5, 6, 7}

In [58]:
group1.union(group2, group3)

{1, 2, 3, 4, 5, 6, 7}

In [59]:
group1.intersection(group2)

{2}

In [60]:
group1 = set([1, 2, 3, 4, 5])
group2 = set([2,6,7])
group3 = {1,2,3}

In [61]:
group1.difference(group2)

{1, 3, 4, 5}

In [62]:
group2.difference(group1)

{6, 7}

In [63]:
group1.symmetric_difference(group2)

{1, 3, 4, 5, 6, 7}

The ``symmetric difference`` of two sets is defined as the set of elements
which are in one or the other, but not both, of the sets

### Group Exercise 

Write python code to remove items 10, 20, 30 from a given set `set1 = {10, 20, 30, 40, 50}`

> When you are done, raise your hand!

In [64]:
set1 = {10, 20, 30, 40, 50}

In [65]:
new_set = {10, 20, 30}

In [66]:
set1.difference(new_set)

{40, 50}

In [67]:
set1 = {10, 20, 30, 40, 50}

In [68]:
set1.remove("10")

KeyError: '10'

In [69]:
set1.remove(10)
set1.remove(20)
set1.remove(30)
set1

{40, 50}

In [70]:
set1 = {10, 20, 30, 40, 50}

In [71]:
set1.difference({10, 20, 30})

{40, 50}

In [72]:
set1 = {10, 20, 30, 40, 50}
set1.symmetric_difference({10, 20, 30})

{40, 50}

In [73]:
set1

{10, 20, 30, 40, 50}

# Standard Data Types in Python - Dictionaries

| Category of Data type | Data type            | Example    |
| -------------- | -------------------- | ---------- |
| Numeric, scalar         | Integer| 1       |
|        | Floats   | 1.2   |
|          | Complex    | 1.5+0.5j  |
|         | Booleans   | True    |
| Container    | strings   | "Hello World"   |
|     | List   | [1, "Hello World"]  |
|     | Tuple   | (1, "Hello World")  |
|     | Set   | {1, "Hello World"}   |
|     | Dictionary   | {1: "Hello World", 2: 100} |

## Dictionaries in python

```python
{1: "Hello World", 2: 100}
```

```python
{"first": "Hello World", "second": 100}
```


* Intuitive: a dictionary in python is like a dictionary we normally encounter
    * a dictionary represents a mapping from keys to values
    * e.g., a English-Spanish dictionary:
        * mapping from a English word (key) to a Spanish word (value)
* A collection of **key-value pairs** 
    * key can be any immutable data type
    * value can be any data type
    * each key-value pair is considered as an item
* indexed by **keys**, not a range of numbers
    * Duplicate keys are not allowed
    * Duplicate values are allowed
* mutable
    * we can change the key-value pair using assignment statements
* very powerful and efficient for some problems

## Creating a dictionary

* Assignment statement: multiple ways
* Function `dict()`

#### Create a dictionary by defining pairs of keys and values

`dict_person = {'name': 'John', 'age': '36', 'country': 'Norway'}`

* enclosed by curly brackets (similar to sets) `{}`
* comma `,` seperating items (key-value pairs)
* colon `:` seperating a key from the correspinding value

In [74]:
dict_person = {'name': 'John', 'age': '36', 'country': 'Norway'}
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [75]:
type(dict_person)

dict

#### Create an empty dictionary and add key-value pairs using key index assignment

```python
dict_person = {}
dict_person['name'] = 'John'
```

* for dictionaries, key is the "index"
* indexing is "similar" to lists, but the "index" is not numbers, but keys (could be any immutable data types)

In [76]:
dict_person = {}
type(dict_person)

dict

In [77]:
dict_person['name'] = 'John'
dict_person['age'] = '36'
dict_person['country'] = 'Norway'

In [78]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [79]:
dict_person[("country", "weather")] = ('Norway', 'sunny')

In [80]:
dict_person

{'name': 'John',
 'age': '36',
 'country': 'Norway',
 ('country', 'weather'): ('Norway', 'sunny')}

In [81]:
dict_person[["country", "weather"]] = ('Norway', 'sunny')

TypeError: unhashable type: 'list'

#### Creating a dictionary with `dict()` using pairs of keys and values 

* pairs could be of any ordered container data types, e.g., tuples, lists

In [82]:
dict_person = dict( ( ('name','John'), ('age',"36"), ('country', "Norway")) )
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [83]:
dict_person = dict( [ ['name','John'], ['age',"36"], ['country', "Norway"]] )
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

### Obtaining values using keys

* similar to Lists' indexing

In [84]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [85]:
dict_person['name']

'John'

### Dictionary Methods

In [86]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [87]:
dict_person.keys() # returns a collection of keys

dict_keys(['name', 'age', 'country'])

In [88]:
dict_person.values() # returns a collection of values

dict_values(['John', '36', 'Norway'])

`in` operator

* tells you whether something appears as a **key** in the dictionary

In [89]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [90]:
'name' in dict_person

True

In [91]:
'name' in dict_person.keys()

True

In [92]:
'John' in dict_person

False

In [93]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [94]:
'John' in dict_person.values()

True

In [95]:
len(dict_person)

3

In [96]:
dict_person.items()

dict_items([('name', 'John'), ('age', '36'), ('country', 'Norway')])

Combining two dictionaries can be done with the ``update`` method (in-place method)

In [97]:
dict_new = {1:3, 4:5}
dict_new

{1: 3, 4: 5}

In [98]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway'}

In [99]:
dict_person.update(dict_new)

In [100]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway', 1: 3, 4: 5}

### Looping dictionaries

* If you use a dictionary in a `for` statement, it traverses the `keys` of the dictionary

In [101]:
for a in dict_person:
    print(a)

name
age
country
1
4

In [102]:
dict_person

{'name': 'John', 'age': '36', 'country': 'Norway', 1: 3, 4: 5}

In [103]:
for a in dict_person:
    print(a, dict_person[a])

name John
age 36
country Norway
1 3
4 5

In [104]:
for key in dict_person:
    print(key, dict_person[key])

name John
age 36
country Norway
1 3
4 5

In [105]:
dict_person.items()

dict_items([('name', 'John'), ('age', '36'), ('country', 'Norway'), (1, 3), (4, 5)])

In [106]:
for key, values in dict_person.items(): #getting key,value pairs with method `items()`
    print(key, values)

name John
age 36
country Norway
1 3
4 5

### Group exercise


Write a Python program to convert two lists into a dictionary in a way that item from list1 is the key and item from list2 is the value
```python
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
```
> When you are done, raise your hand!

In [107]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [108]:
dict_list = {}
for i in range(3):
    dict_list[keys[i]] = values[i]
dict_list

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [109]:
dict(zip(keys, values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

`zip()` function takes two or more iterables (like list, dict, string), aggregates them in a tuple, and returns it.

# Review of Python Container Data Types

| Category of Data type | Data type            | Example    | Ordered|Mutable|Unique|
| -------------- | -------------------- | ---------- |---------- |---------- |---------- |
| Container    | strings   | "Hello World"   ||||
|     | List   | [1, "Hello World"]  ||||
|     | Tuple   | (1, "Hello World")  ||||
|     | Set   | {1, "Hello World"}   ||||
|     | Dictionary   | {1: "Hello World", 2: 100} ||||

### _Questions?_

* What is a string in python?
* What is a list in python?
* What is a tuple in python?
* What is a set in python?
* What is a dictionary in python?
* What are the differences between these container data types?

## Review of Python Container Data Types

| Category of Data type | Data type            | Example    | Ordered|Mutable|Unique|
| -------------- | -------------------- | ---------- |---------- |---------- |---------- |
| Container    | strings   | "Hello World"   |Yes|No|No|
|     | List   | [1, "Hello World"]  |Yes|Yes|No|
|     | Tuple   | (1, "Hello World")  |Yes|No|No|
|     | Set   | {1, "Hello World"}   |No|No|Yes|
|     | Dictionary   | {1: "Hello World", 2: 100} |No|Yes|Yes|

## Further readings

* [tutorial of python Sets](https://realpython.com/python-sets/)
* [tutorial of python dictionaries](https://realpython.com/python-dicts/)

# Assginments

* Mid-term exam
* HW5 released later today

# Next Class

* Functions
* Iteration 

Readings:

* Chapters 6, 7